<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School SyStem</title>
</head>
<body>
    <h1>Delete Student</h1>
    <a href="../../index.php">Home</a>
    <a href="student.html">Student</a>
    <a href="add_student.html">New Student</a>
    <a href="update_student.html">Update Student</a>

    <form action="../../controller//student/delete_student.php" method="POST">

        <label for="">Student ID</label>
        <input type="text" name="txtStudentId">
         

        <input type="submit" value="Delete Student">

    </form>
</body>
</html>